#demo {
    left: 10px;
    top: 10px;
    background-color: whitesmoke;
}
#demo .items {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#demo ul.items > li {
    cursor: pointer;
}
#demo .items i {
    background-repeat: no-repeat;
    background-position: center;
    width: 14px;
    height: 14px; 
    display: inline-block;
    background-image: url('unchecked.png');
    vertical-align: middle;
}
#demo .items i.selected {
    background-image: url('checked.png');
}
.scanex-tristate {
    background-repeat: no-repeat;
    background-position: center;
    width: 14px;
    height: 14px; 
    display: inline-block;    
    vertical-align: middle;
}
.scanex-tristate.unselected {
    background-image: url('unchecked.png');
}
.scanex-tristate.selected {
    background-image: url('checked.png');
}
.scanex-tristate.indeterminate {
    background-image: url('indeterminate.png');
}