.scanex-tristate {
    background-repeat: no-repeat;
    background-position: center;
    width: 14px;
    height: 14px; 
    display: inline-block;
    background-image: url('unchecked.png');
    vertical-align: middle;
}
.scanex-tristate.selected {
    background-image: url('checked.png');
}